<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

      <img src="{{ site.baseurl }}/assets/images/kyi_profile.png"
           alt="YoungIn Kim"
           class="avatar">

      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- Home -->
      <a
        class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
        href="{{ site.baseurl }}/">
        Home
      </a>
    
      <!-- CV (PDF 링크) -->
      <a
        class="sidebar-nav-item"
        href="{{ site.baseurl }}/assets/pdf/cv_kyi.pdf"
        target="_blank">
        CV
      </a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} Youngin Kim.</p>
  </div>
</div>
